<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Cadastro de Eventos</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>AkeeTM - Eventos</strong>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" th:object="${evento}" th:action="@{/gravar}" method="POST" style="margin: 10px">
                <div class="form-group">
                    <fieldset>
                        <div class="form-group row">
                            <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                                <div th:each="detailedError : ${#fields.detailedErrors()}">
                                    <span th:text="${detailedError.message}"></span>
                                </div>
                            </div>
                        </div>                    
                        <div class="form-group row">
                            <div class="col-md-1">
                                <input type="hidden" class="form-control input-sm" id="id" th:field="*{id}" readOnly="readonly"/>
                            </div>
                         </div>
                        <div class="form-group row">                                                          
                            <div class="col-md-4" th:classappend="${#fields.hasErrors('nome')}? 'has-error'">
                                <label>Nome</label>
                                <input type="text" class="form-control input-sm" th:field="*{nome}" autofocus="autofocus" placeholder="Informe o nome do evento" maxlength="50"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4" th:classappend="${#fields.hasErrors('descricao')}? 'has-error'">
                                <label>Descrição</label>
                                <input type="text" class="form-control input-sm" th:field="*{descricao}" maxlength="250" placeholder="Informe a descrição do evento"/>
                            </div>
                        </div>
                        <div class="form-group row">                                                          
                            <div class="col-md-4" th:classappend="${#fields.hasErrors('imagem')}? 'has-error'">
                                <label>Imagem</label>
                                <input type="text" class="form-control input-sm" th:field="*{imagem}" autofocus="autofocus" placeholder="Informe a URL da imagem" maxlength="150"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-2" th:classappend="${#fields.hasErrors('data')}? 'has-error'">
                                <label>Data</label> 
                                <input type="date" class="form-control input-sm" th:field="*{data}"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-2" th:classappend="${#fields.hasErrors('preco')}? 'has-error'">
                                <label>Preço</label>
                                <input type="number" pattern="\d+(\,\d{2})?" class="form-control input-sm" th:field="*{preco}"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-2" th:classappend="${#fields.hasErrors('estabelecimento')}? 'has-error'">
                                <label>Estabelecimento</label>
                                <select th:field="*{estabelecimento}" id="estabelecimento" class="form-control">
                                    <option th:each="e : ${estabelecimentos}"
                                            th:value="${e.id}"
                                            th:text="${e.nome}"
                                            th:selected="${e.id}"/></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-2" th:classappend="${#fields.hasErrors('categoria')}? 'has-error'">
                                <label>Categoria</label>
                                <select th:field="*{categoria}" id="categoria" class="form-control">
                                    <option th:each="c : ${categorias}"
                                            th:value="${c.id}"
                                            th:text="${c.descricao}"
                                            th:selected="${c.id}"/></option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="form-group row">
                    <button type="submit" class="btn btn-sm btn-primary">Salvar</button>
                    <a th:href="@{/}" class="btn btn-sm btn-default">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>